#lista {
    display: block;
    margin-bottom: calc(60vh + 10px);
}

/* Cache le tableau pendant le chargement */
#lista table {
	visibility:  hidden;
}

/* Cache le titre pendant l'initialisation */
.tabel95 >  tbody > tr:nth-of-type(2) {
    visibility: hidden;
}

/* ============================== Erreurs AJAX ============================== */
.ajaxError {
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: borderGlowingBad;
    display: inline-block;
    outline: medium none;
    padding: 0;
    width: 100%;
}

.ajaxError > textarea {
    margin-top: 13px;
}

.ajaxError a7button:last-of-type {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: borderGlowingBad;
    border-radius: 1rem;
    outline: medium none;
}

#A7Popup:not(.A7PopupVisible) {
    display: none;
}

#A7Popup {
    top: 0;
    width: 40%;
    color: #555;
    margin: 8px;
    padding: 15px;
    font-size: 11px;
    position: fixed;
    text-align: center;
    border-radius: 10px;
    left: calc(30% - 15px);
    background-color: #fff8c4;
    border: 1px solid #f2c779;
}

#A7Popup > span {
    font-weight: bold;
    text-transform: uppercase;
}

/* ================================ Tableau ================================ */
/* Titre des colonnes */
.NewsTitle > div {
    text-align: center;
}

/* Cases du tableau -> sauf textBox cliquée */
table[cellpadding="1"] td:not(.textClicked) {
    vertical-align: middle;
}

/* TextBox -> dans une ligne originalText et cliquée  */
.originalText .textClicked {
    background-color: #ffc4ff;
    box-shadow: -1.35px 0 0 0 #ffc4ff;
}

/* TimeBox -> dans une ligne originalText et non cliquée  */
.originalText .timeInitial {
    cursor: pointer;
}

/* TimeBox ou textBox -> non cliquée et dans une ligne originalText (au survol) */
.originalText .timeInitial:hover,
.originalText .cursorEdit:hover {
    box-shadow: 0 0 20px 1px #ff9999 inset, 0 0 2px 1.4px #ff7777;
}

/* Icône du cadenas -> colonne lock sauf première ligne */
td[id^=lock]:not(#locktop) img {
    max-height: 28px;
}

/* Liens du tableau -> ligne originalText et lockedText */
.originalText a,
.lockedText a {
    font-weight: 600;
}

/* Lien -> colonne auteur dans les lignes originalText et lockedText */
.originalText a[href^="/user/"],
.lockedText a[href^="/user/"] {
    font-weight: unset;
}

/* Cases du tableau -> lignes lockedText */
/* Spans du compteur -> lignes lockedText */
.lockedText td,
.lockedText .counter span {
    color: white;
}

/* Cases du tableau -> lignes lockedText (au survol) */
.lockedText:hover td {
    background-color: #ffbbbb;
    color: black;
    cursor: not-allowed;
}

/* Case langue secondaire -> lockedText */
.lockedText td[bgcolor="white"] {
    background-color: red;
}

/* Cases du tableau -> lockedText (au survol) */
.lockedText:hover td {
    background-color: #ffbbbb;
}

/* Petit indicateur */
.timeWithoutIndicator:after {
    border-radius: 5px;
    border: 1px solid #222222;
    box-shadow: 0 0 3px 1px #888888;
    content: "";
    margin-left: 8px;
    padding: .5px 6px .5px 5px;
    font-size: 10px;
}

/* Petit indicateur -> ligne originalText (au survol) */
.originalText:hover .timeInitial:after {
    border-width: 1px 2px;
    padding: .5px 5px .5px 4px;
    box-shadow: 0 0 4px 1px #888888;
}

/* Petit indicateur -> ligne lockedText */
.lockedText .lockedTime:after {
    border-color: #000000;
    box-shadow: 0 0 5px 2px #ffffff;
}

/* Petit indicateur -> ligne lockedText (au survol) */
.lockedText:hover .lockedTime:after {
    border-color: #222222;
    box-shadow: none;
}

/* Petit indicateur -> ligne quotedText */
.quotedText .quotedTime:after {
    border-color: #aaaaaa;
    box-shadow: none;
}

/* Petit indicateur -> ligne quotedText (au survol) */
.quotedText:hover .quotedTime:after {
    border-color: #222222;
}

/* Lignes -> quotedText */
.quotedText {
    background-color: #e5e5e5;
    color: #444444;
}

/* Lignes -> quotedText (au survol) */
.quotedText:hover {
    color: #000000;
}

/* Nom des colonnes -> première ligne du tableau */
#seqsTbody > tr:first-of-type td {
    padding: 1em 8px 0;
}

/* Icône du cadenas -> première ligne première colonne du tableau */
#locktop img {
    margin-top: -12px;
}

#seqsTbody > tr {
    height: 30px;
}

#seqsTbody > tr td {
    min-height: 2em;
}

#seqsTbody > tr a {
    text-decoration: none;
}

#seqsTbody > tr:not(.lockedText) a {
    color: #444444;
}

tr[id^="trseq"].lockedText a {
    color: #ffffff;
}

#seqsTbody > tr:hover a {
    color: blue;
    text-decoration: underline;
}

/* Not 0 for Opera support */
#seqsTbody > tr  td:nth-of-type(-n+5){
    width: .1px;
}

#seqsTbody > tr:not(:first-of-type)  td:nth-of-type(-n+5){
    padding: 0 8px;
}

tr[id^="trseq"] td[id^="lock"]{
    padding: 0;
    text-align: center;
}

/* TimeBox */
.timeWithoutIndicator,
.timeWithIndicator {
    padding: 0 6px;
    text-align: right;
    white-space: nowrap;
    width: 15rem;
    max-width: 15rem;
    min-width: 15rem;
}

#seqsTbody > tr td[bgcolor="white"],
#seqsTbody > tr:not(:first-of-type) td:last-of-type:not(.textClicked) {
    padding-left: 2px;
    padding-bottom: 3px;
}

#seqsTbody > tr td.counter {
    padding-bottom: 3px;
}

#seqsTbody > tr td[bgcolor="white"] {
    padding-right: 8px;
    white-space: nowrap;
    width: 170px;
}

#seqsTbody > tr td:last-child {
    white-space: nowrap;
}

#seqsTbody > tr:not(:first-of-type) td:last-child:after {
    content: " ";
    white-space: pre;
}
