/* ================================ Général ================================ */
#lista table:first-of-type {
    width: 100%;
}

#lista table:last-of-type {
    visibility: visible;
}

#lista span#comments {
    display: none;
}

#container ~ center {
    display: none;
}

.tituloParent {
    text-align: center;
    margin-bottom: 15px;
}

.tituloParent > .titulo {
    display: inline-block;
}

.ajaxErrorNotConfirmed {
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: borderGlowingBad;
    display: inline-block;
    outline: medium none;
    padding: 0;
    width: 100%;
}

#A7Untranslated {
    float: right;
    height: 17px;
    cursor: pointer;
    margin-right: 10px;
    padding: 2px 10px 3px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWBAMAAAAoU0G7AAAAMFBMVEX////Ly8t1dXUCAgKZmZmpqalHR0c6OjoUFBQnJydsbGy1tbVYWFiFhYUAAAAAAADL+1j+AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAIFJREFUeNpjYGBgEGBAACYTJI6yKQNbWTkQFDFwzLIIYOAwBgEzBnZja6CsoICAgCBQb0UAkhZuBtzAAYnNY4vQsiG5kYGzAwR6GITbLBjgHB7jiUhaTgowEAcUkNicRkCHgoAAA6/D5AK4F4QtzRkY2MrL09OBnuM1LkDSch3BBABNARqYKc6RbAAAAABJRU5ErkJggg==');
    background-size: 100% 100%;
}

#A7Untranslated > #unt {
    display: none;
}

/* =============================== Réécriture =============================== */
#lista td.timeInitial {
    cursor: default;
}

#lista td.timeInitial:hover {
    box-shadow: none;
}

tr.quotedText > td.openedCounter {
    background-color: #f1f1f1;
    border-top: 15px solid #e5e5e5;
    border-bottom: 30px solid #e5e5e5;
}
