#videoBar {
    top: 100px;
    left: 100px;
    width: 80px;
    display: flex;
    cursor: pointer;
    position: fixed;
    min-height: 80px;
    border-radius: 40px;
    background-color: black;
    flex-direction: column;
}

#videoBar.videoBarOpened {
    border-radius: 20px;
}

#videoBar.videoBarOpened > div:first-of-type {
    border-radius: inherit;
}

#videoBar.videoBarDataOpened:not(.videoBarLeft) > div:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#videoBar.videoBarDataOpened.videoBarLeft > div:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#videoBar.videoBarOpened.videoBarTop > div:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Arrondi du bouton */
#videoBar.videoBarDataOpened:not(.videoBarLeft):not(.videoBarTop) > div:first-of-type > span:last-of-type {
    border-top-right-radius: 10px;
}

/* Ouvert horizontal */
#videoBar.videoBarOpened {
    min-width: 800px;
}

/* Ouvert horizontal - Mode VLC */
#videoBar.useVLC {
    min-width: 160px;
}

#videoBar.useVLC > div:first-of-type {
    display: inherit;
}

/* Gestions des radius en mode VLC */
#videoBar.useVLC:not(.videoBarTop):not(.videoBarLeft) > div:first-of-type > span:first-of-type {
    border-top-left-radius: 40px;
}

#videoBar.useVLC:not(.videoBarLeft) > div:first-of-type > span:first-of-type {
    border-bottom-left-radius: 40px;
}

#videoBar.useVLC:not(.videoBarTop) > div:first-of-type > span:last-of-type {
    border-top-right-radius: 40px;
}

#videoBar.useVLC > div:first-of-type > span:last-of-type {
    border-bottom-right-radius: 40px;
}

/* Boutons quand la barre est fermée*/
#videoBar:not(.videoBarOpened) > div:first-of-type > :not(span),
#videoBar:not(.videoBarOpened) > div:first-of-type > span:not(:first-of-type) {
    display: none;
}

/* Mode VLC - affiche le retour direct */
#videoBar:not(.videoBarOpened).useVLC > div:first-of-type > span:nth-child(2) {
    display: inherit;
}

/* Ouvert horizontal */
#videoBar.videoBarOpened > div:first-of-type {
    color: white;
    display: flex;
    min-height: 80px;
    background:linear-gradient(black, #111, #333, #222, #111);
}

#videoBar > div:first-of-type > span {
    flex: 2;
    min-width: 78px;
    min-height: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

#videoBar > div:first-of-type > label {
    flex: 2;
    display: flex;
    text-align: end;
    padding-right: 10px;
    flex-direction: column;
    justify-content: center;
}

#videoBar > div:first-of-type > div {
    flex: 8;
    display: flex;
    cursor: default;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

/* Icônes */
/* Icône générale (play) */
#videoBar > div:first-of-type > span:first-of-type,
#videoBar.useVLC.videoBarPlay > div:first-of-type > span:first-of-type {
    max-width: 80px;
    display: inherit;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQAQMAAAC032DuAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAHZJREFUeNrd0bENwCAMBEAjCjqoI6GIESgpMhRlSkZjFEbICFEK/EH6CXB1zWNsi2xYoSmPrswPWMATdKDVXJYB3mAEA2ib0gylVPACPeia0nTlbP0xgZkysdjvMUcbF/bJmVoH8nT4yhalqWWpkR5gsGMF2bNeYFoYxOsBcdMAAAAASUVORK5CYII=');
}

/* Icone pause */
#videoBar.useVLC:not(.videoBarPlay) > div:first-of-type > span:first-of-type {
    max-width: 80px;
    display: inherit;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQAQMAAAC032DuAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAB9JREFUeNpjYBjegImBQQHKZGNgMBhlDmYmUmQNVwAANk4ISRLgH+YAAAAASUVORK5CYII=');
}

/* Icône retour */
#videoBar:not(.videoLoaded) > div:first-of-type > span:last-of-type {
    display: none;
}

#videoBar > div:first-of-type > span:last-of-type {
    max-width: 80px;
    display: inherit;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAABd0lEQVR42mNgGAWjYBSMglEwCkAgJiamA480U2hoqD1QTR8Qn4iOjn4XGxv7H0j/A+IXQLG9QH4NUI0KzR0KshjdsQ4ODixAh2QA5e6A5InBQDPW09TBSBaBHRsREWEFdORVYh2Ihr8DcRpNHQrFu4GO/EOmI/+je5qWDqUajoyMLBgSDgXGzO/w8HD9gXDoK2CUzgTS2cDQCgDSoUDcCHTQITx6DtDTofeBOMLY2JgVTxGnDnTwNmz6gaFqSheHgspQEsrkInT9UVFRE+gW9aTkYmCyaEPTf46uaZRYx4KSCDS5wDLVN6o4FGjQAmIxMBrNyEkCg7b9AHScDlKI/hm0DgXW+cxIIXpnULfKkNL2ksEcotJI5WjQoHUosIgKhjr0Eb6KYjBE+wpowyRmMEe7HNCRv4B486DORMDiaDHQkTeBZa7goHUk0HHuwFx+OygoSGbQOhLkOGBIrgViscGcLnmAIRk2qHP4KBgFo2AUjIJRQBIAANwr7Dv/e3ltAAAAAElFTkSuQmCC');
}

#videoBar > div:first-of-type > span:last-of-type:hover,
#videoBar.useVLC > div:first-of-type > span:hover {
    background-color: #FFFFFF20;
}

/* Vidéo incrustée */
#videoBar.videoBarOpened:not(.videoLoaded) > div:last-of-type {
    display: none;
}

#videoBar > div:last-of-type {
    display: none;
    cursor: default;
    max-width: 800px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#videoBar.videoBarOpened > div:last-of-type {
    display: flex;
    min-width: 800px;
    overflow-y: auto;
    justify-content: center;
    background-color: white;
    border: 1px solid #111;
    box-sizing: border-box;
}

/* Erreur de format vidéo */
#videoBar.videoBarOpened.unsupportedFormat > div:last-of-type {
    background-color: #FFFF99;
}

#videoBar.videoBarOpened > div:last-of-type > video {
    width: 100%;
}

/* ============================= Classes Sticky ============================= */

#videoBar.videoBarLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#videoBar.videoBarTop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
