#userBar {
    top: 10px;
    left: 10px;
    width: 80px;
    position: fixed;
    min-height: 80px;
    border-radius: 20px;
    flex-direction: column;

    background-color: lawngreen;
}

#userBar.userBarOpened {
    width: 800px;
}

/* Boutons */
#userBar:not(.userBarOpened) > div:first-of-type > span {
    display: none;
}

#userBar > div:first-of-type {
    display: flex;
    min-height: 80px;
    margin-left: 80px;
    justify-content: space-around;
}

#userBar > div:first-of-type > span {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    background-color: aquamarine;
}

#userBar > div:first-of-type > span:not(:first-of-type) {
    cursor: pointer;
}

/* Page incrustée */
#userBarData {
    display: none;
}

#userBarData.pageLoaded {
    display: block;
    max-height: 75vh;
    overflow-y: auto;
    text-align: center;
    background-color: magenta;
}

#userBarData.pageLoaded.userBarDataMinimized {
    max-height: 0;
}

#userBarData + div {
    display: none;
    min-height: 25px;
}

#userBarData.pageLoaded + div {
    display: block;
}

/* Nom du destinateire - risque d'être supprimé */
#userBarData > form > table.tabel > tbody > tr:first-of-type {
    display: none;
}

.messageSentSuccess {
    width: 40px;
    height: 40px;
    margin-left: 45%;
    margin-left: calc(50% - 40px);

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAABWElEQVR42u3Wr0sFQRAH8K8IBkEsCqIviNy7u2ITBKNgtQmCxfqKNpvw0Pdj9/AvsBusVsFiMohBo0lsJhEMguiMsscr3j7kYObBfGHawn6Y290bwGKxWCwWyyhlrofZ1OEmO8a6WuSSw3TucZsX+EoLvKvEMpI7ychQjG16bKhGDtRH0sOmOHLmAFMVyN/OOlyLIufbmMw8rqqQVPfccfVIfgXq23UL43kHa+qRWYEzOkefeRe70fVtTBDiUgQ5uAk9J3tVSFp/IY4MRZ/18F9Ih4d6kZS/kKESjxNaNjYskh73xwWPRu23tllgP/IJuUOnjKTzey6CLLvq0IphCfEkigxJ+tj5ufGx7koiQ9IutvmfrBpZdpYGh2GxhHwWQZYXjEYyHs1iyEYfifg0xMMu3fY31ciQxSOsEupVNbIchjtYIdyLamQIHYFlQt6pRlosFotlNPINrYZ+dbbgvtcAAAAASUVORK5CYII=");
}
