#userBar {
    top: 10px;
    left: 10px;
    width: 80px;
    cursor: pointer;
    position: fixed;
    min-height: 80px;
    border-radius: 40px;
    flex-direction: column;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQBAMAAAB8P++eAAAAMFBMVEXtHCSurq6Xl5dXV1clJSVvb2+Z2erPz88AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACLg3mMAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAihJREFUeNqdl81ugzAMxylT7y0V7DpSQa/bpO0J9gAFKb2TiXAuB/r6K5QmdhIbtL+0Q9Vf/RXH8aLI0eb4c1e9ixZUyHyfZY2QNYttZalnKfnGmKs0UEEaLUqNpAjy6HBat1Uwvov21J59Lv7WAR38MkkdlHS5F03o3TkP4Ph2ex2AcwwezBddL+56JUxag10iJp0M+BuOsBezyqBJY7ARRkPApDVoOetc2arXAYNCmF/bI794EY7KPN9BzzDxp2/jpEOg79t4Vhg0ebdzf2XBEEGQ6nErtsZFgsHSCbIK5wKzEThEGpyCjEsKzC24QyHS4BTkalDo5Rh1jnJhwBaDZB1HcAPAngPjDAwb4qynQwRJ474F3XP/BoOaqs5YHwT2RIgjmGjK94DBVBO+TxqDAg9ZwqBn0dYcG/TBLpRyCJyn1GngwOvkrrvu97dHsbJwHRsngQ7cQwS6GfQwUgAqpyYNutoATHCyc1K2e8wldMqSoI9qZxrXFHCAo1z4V8H2Q369Ju5BAtDpbmdQpfa68mBuBwAPnleCzQhuymWwBWNvBVgvgxUYzSz4GM2PQ+TAdgeeTBac35l0CXy+XNNDw4D2eb3woH2wUx60K8C25MAWrH2VZlTA5SOjOYX2s491BjmTyln4agqUK7bH8AZ5DHLNh79pfq5aH8duq1YtpGOYHpmeiXXdIYsztYjHX6CcDbfaR/JZz6aQ/D8VcSFlcf+r36J/6g+bQNiLegoZywAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
}

#userBar.userBarOpened {
    width: 800px;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQBAMAAAB8P++eAAAAMFBMVEX///+urq6Xl5dvb2+Z2epXV1fPz88AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADHT6Q1AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAbVJREFUeNqt112OgjAQAOBC4wFE1ndK9R3kApgJ7/tzAQjx/kdYQbbtTH+YbOyL0Xzp/LSFKgQZmboto67JB3X1TUNwYCZjjMC6AeDAWgMLXlLOgbIDFsx/gAdvwIMH4MHMCfx4nOco/DA/DJN6jnME2gmHQq3jGoY2w0ltQwehmbBXZswBaCe0jgZfYRuYUKkA7LwMl1F6MBiZxl6gCTIgqDxoIt8xnAmUZTBFkuQCzZcCQ01gE66FVOOmuANzHYMVhjbFd0EFzBy7f8BkHzMHTimYOwuVXGunaLxv6e5xIcS7Q+AUTRFEAbHY+BiKE0Ri01OIU77HzzWe0facPlMoHIIlB+D2lLrOKTiu4YbxeHy8mlWG+9iTAgZ0Dh1IK5hQphbeSU96fLQtLHCxW1HONtNoUSrc0MrfuKaBs/soV/5RsPuhGsfCX0gDye72HlTmuO5D+XaYaSbcqmHAlgslF74WkQFfr0wOPHHh+qLhwLVBLHjiQqmZUDQAvHvPoWRC8cmF+1P+3c1aLty5PTrXwgsXii8uzBsmFLJhwrREF/b8u+RB9E5OQ9kyocjrwF+U52h/AQlkdH79KE14AAAAAElFTkSuQmCC");
}

#userBar.userBarOpened.userBarDataOpened {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQBAMAAAB8P++eAAAAMFBMVEX///+urq6Xl5dvb2+Z2epXV1fPz88AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADHT6Q1AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAW1JREFUeNrl1llugzAQAFAW9QBxaf4z0PyncAHQyCfoBUCI+x+hhSLbMx6DVVmq2s5PlOjJs3hRsoxFDu0adc0+uKvbBsWgrAwxBusHYgysG4yCr0fOgWWHUbB4xzjYYhx8wjiYO4mX5ToH4Yv5QU/wGdcAtAtqBVvcZWgrnGCPRoRmwR5MzAK0C1rHk2/wTVgQQICdV+EalQfFzDz3Ck0STSB40GQeKJwZLCuxRFbkCs0XRWHD4EPuhXXjlngCiyYEbxTaElNBwMgau2/AwznmDpyOYOFs1OFeO03Tc8tPjwsxPB0Gp2CJmCkM5abXMHvGQG5+C2nJQ/he0xXtzPmbwqEWWxbg/krdvYfP7Xrc0unxclm+hlXJsGcNaHIPndS8g4lUasczsJn09GrbFRVtdm9KgGwsik3JQDPA2X3Kwe/anofbOCp/Iw1kp9t7qEzqUwjJV/xTUCWHv2lnTv/3pIcqOYxODT/X9b+EH8rIpdAHpwMCAAAAAElFTkSuQmCC");
}

/* Boutons */
#userBar:not(.userBarOpened) > div:first-of-type > span {
    display: none;
}

#userBar.userBarOpened > div:first-of-type {
    display: flex;
    min-height: 80px;
    margin-left: 80px;
    justify-content: space-around;
}

#userBar.userBarOpened > div:first-of-type > span {
    flex: 1;
    font-size: 20px;
    border-width: 1px;
    font-weight: bold;
    text-align: center;
    border-style: none dotted none dotted;
    background: linear-gradient(grey, white);
}

#userBar.userBarOpened > div:first-of-type > span.userBarButtonClicked {
    background: linear-gradient(#222222, white)
}

#userBar.userBarOpened > div:first-of-type > span > p {
    margin-top: 28px;
}

/* Premier bouton */
#userBar.userBarOpened > div:first-of-type > span:first-of-type {
    display: flex;
    cursor: default;
    flex-direction: column;
    justify-content: center;
}

#userBar.userBarOpened > div:first-of-type > span:first-of-type > select {
    width: 80%;
    margin-top: 5px;
    margin-left: 10%;
}

#userBar.userBarOpened > div:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Page incrustée */
#userBarData {
    display: none;
    cursor: default;
}

#userBarData.pageLoaded {
    display: block;
    max-height: 75vh;
    overflow-y: auto;
    text-align: center;
    background-color: white;
}

#userBarData.pageLoaded.userBarDataMinimized {
    max-height: 0;
}

/* Bouton de réduction */
#userBarData.pageLoaded:not(.userBarDataMinimized) + div {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAZBAMAAACfs1DEAAAAMFBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAv3aB7AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAFhJREFUeNp9kUEKACEMA5sfzP9fu7AHQWymiNrKYEhmrmKsEn1G8fxLYPs9Z6twx3MdBW54nksxDIN3HHU+tVkADH5xtI9KWaSiSq8R6kM0ghIRmtAZI/l/bpEBqaiak8cAAAAASUVORK5CYII="),
        linear-gradient(white, #222222);
    background-repeat: no-repeat;
    background-position: center;
}

#userBarData.pageLoaded.userBarDataMinimized + div {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAZBAMAAACfs1DEAAAAMFBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAv3aB7AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAFxJREFUeNp90lsOgDAQQlHYAftfrY1RE1vm9nPgJH1JktXXO0+Ps9U6HnhKUXUWwo177JaBER88WDfutJzEiH8ieE3GFxpe0Ig/FfweE35cxtiIbxmIjXjZYLzhC24kAZoVrw5LAAAAAElFTkSuQmCC"),
        linear-gradient(white, #222222);
    background-repeat: no-repeat;
    background-position: center;
}

#userBarData + div {
    display: none;
    min-height: 25px;
}

#userBarData.pageLoaded + div {
    display: block;
}

/* Report */
#userBarData .tabel90 {
    width: 100%;
}

/* Nom du destinateire - risque d'être supprimé */
#userBarData > form > table.tabel > tbody > tr:first-of-type {
    display: none;
}

.messageSentSuccess {
    width: 40px;
    height: 40px;
    margin-left: 45%;
    margin-left: calc(50% - 40px);

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAABWElEQVR42u3Wr0sFQRAH8K8IBkEsCqIviNy7u2ITBKNgtQmCxfqKNpvw0Pdj9/AvsBusVsFiMohBo0lsJhEMguiMsscr3j7kYObBfGHawn6Y290bwGKxWCwWyyhlrofZ1OEmO8a6WuSSw3TucZsX+EoLvKvEMpI7ychQjG16bKhGDtRH0sOmOHLmAFMVyN/OOlyLIufbmMw8rqqQVPfccfVIfgXq23UL43kHa+qRWYEzOkefeRe70fVtTBDiUgQ5uAk9J3tVSFp/IY4MRZ/18F9Ih4d6kZS/kKESjxNaNjYskh73xwWPRu23tllgP/IJuUOnjKTzey6CLLvq0IphCfEkigxJ+tj5ufGx7koiQ9IutvmfrBpZdpYGh2GxhHwWQZYXjEYyHs1iyEYfifg0xMMu3fY31ciQxSOsEupVNbIchjtYIdyLamQIHYFlQt6pRlosFotlNPINrYZ+dbbgvtcAAAAASUVORK5CYII=");
}
